
/* ABOUT/INDEX PAGE */

#bio-image {
    border-radius: 10%;
    transition: transform .8s ease-in-out;
    /* display: inline; */
}

#bio-image:hover {
    transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
}

.kyle {
    font-size: .75rem;
    color: rgb(177, 175, 175);
}

.about {
    font-size: .97rem;
}
