/* CONTACT PAGE */

form {
    font-family: 'Raleway', sans-serif;
}

.textArea {
    border-color: lightgrey;
}

::placeholder {
    color: lightgrey !important;
}

.button {
    color: whitesmoke !important;
    background-color: #88a2ad !important;
    border: none !important;
}
.button:hover{
    font-size: 1.05rem;
}

.button:active {
    font-size: 1rem;
}

.thankyou_message {
    height: 50vh;
}

.thanks {
    font-size: 1.75rem;
    color: #88A2AD;
}

/* Earth Graphic - media query for screens 980 and less for desktops */
@media (min-width: 1200px)  {
    .earth {
        width: 60%;
        height: relative;
      }
}

/* Earth Graphic - media query for screens 768 and less for ipads */
@media (min-width: 769px) and (max-width: 991px) {
    .emailImg {
        display: none;
    }
}

/* Earth Graphic - media query for screens 768 and less for ipads */
@media (min-width: 465px) and (max-width: 768px) {
    .emailImg {
        display: none;
    }

      .content {
        width: 90%;
        padding-left: 10%;
    }

    .form-elements textarea {
        width: 100%;
    }
}

/* Earth Graphic - media query for screens 640px and less for iphones */
@media (max-width: 464px)  {
    .emailImg {
        display: none;
    }

    .content {
        width: 100%;
        padding-left: 3%;
    }

    .form-elements textarea {
        width: 100%;
    }
  }