/* NAV,  GLOBAL, TITLES & CONTAINERS*/

/* MY NAME & PAGE TITLES */
h1,
h4 {
    font-family: 'Open Sans Condensed', sans-serif;
}

/* MY NAME */
h1 {
    font-size: 2.5rem !important;
    color: white;
    font-weight: bolder !important;
}

/* PAGE TITLES */
h4 {
    color: #657780;
    font-size: 1.75rem !important;
}

p {
    font-family: 'Raleway', sans-serif;
    display: inline-block;
}

/* HEADER & NAV BAR LINKS */
ul {
    font-family: 'Raleway', sans-serif;
    display: inline-block;
}

.bg-ltbluegray {
    background-color: #a2b5c6;
}

.fixed-top {
    position: fixed;
    width: 100%;
}

.hover:hover {
    font-size: 1.05rem;
}

.nameLink {
    padding-left: 0 !important;
}

body {
    height: calc (100vh - 56px) !important;
    min-width: 330px !important;
    overflow: scroll;
}

.container {
    margin-top: 2vh;
}

.aboutContainer,
.portfolioContainer,
.contactContainer {
    margin-top: 15vh !important;
    padding-bottom: 20vh !important;
}