/* Splash Page */

/* MY NAME & PAGE TITLES */
.splashName,
.splashTitle {
    font-family: 'Open Sans Condensed', sans-serif;
    color: #7D8E9E !important;
}

/* MY NAME */
.splashName {
    font-size: 2.5rem !important;
    margin-top: -63vh;
    font-weight: bolder !important;
    margin-bottom: 2vh;
}

/* PAGE TITLES */
.splashTitle {
    color: #657780;
    font-size: 1.75rem !important;
}

/* Splash Page */

.splashBody {
    padding: 0 !important;
    margin: 0 !important;
    width: 100vw;
    height: 100vh;
}


.splashText {
    color: #7D8E9E !important;
}

.splashText:hover {
    text-decoration: underline !important;
    font-size: 1.05rem;
}

.splashImage {
    width: 100vw;
    height: 110vh !important;
    margin-top: -56px !important;
}

@media (max-width: 450px) {

    .splashImage {
        opacity: 0.3;
    }

    .splashName {
        margin-top: -600px !important;
        opacity: .99 !important;
        width: 100vw;
    }

    .splashTitle {
        opacity: .99 !important;
        width: 100vw;
    }

    .splashBody {
        width: 100vw !important;
    }

    .splashContainer {
        padding: 0 !important;
        margin: 0 !important;
        width: 100vw !important;
    }
}

@media (max-height: 300px) {
    .splashImage {
        opacity: 0.3 !important;
        height: 120% !important;
    }

    .splashName {
        margin-top: -220px !important;
        opacity: .99 !important;
    }

    .splashTitle {
        opacity: .99 !important;
    }

}

@media (min-height: 301px) and (max-height: 450px) {
    .splashImage {
        opacity: 0.3 !important;
        height: 120% !important;
    }

    .splashName {
        margin-top: -320px !important;
        opacity: .99 !important;
    }

    .splashTitle {
        opacity: .99 !important;
    }

}

@media (min-height: 451px) and (max-height: 660px) {
    .splashBody {
        min-width: 280px !important;
    }

    .splashName {
        margin-top: -500px !important;
    }

}