h1,
h4 {
    font-family: 'Open Sans Condensed', sans-serif;
}

h1 {
    font-size: 2.5rem !important;
    color: white;
    font-weight: bolder !important;
}

h4 {
    color: #657780;
    font-size: 1.75rem !important;
}

ul {
    font-family: 'Raleway', sans-serif;
    display: inline-block;
}

.bg-ltbluegray {
    background-color: #88a2ad;
}



body {
    padding-top: 60px;
    height: calc (100vh - 56px) !important;
    min-width: 330px !important;
    overflow: scroll;
    padding-bottom: 60px !important;
}

#bio-image {
    border-radius: 10%;
    transition: transform .8s ease-in-out;
    display: inline;
}

#bio-image:hover {
    transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
}

p {
    font-family: 'Raleway', sans-serif display: inline-block;
}

.card-title {
    color: #88a2ad;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    padding: 5px;
}

.row .card-title:hover {
    border: 1px solid #88a2ad;
    text-decoration: none;
    color: #88a2ad;
    font-size: 17px !important;
}


.card-text {
    color: grey;
    padding-left: 5px;
}

.card-img-top {
    padding-top: 20px;
}

.card-body {
    padding: 10px 20px 20px 20px !important;
}

.treeTitle {
    color: #00aa23;
}

.treeTitle:hover {
    color: #00aa23 !important;
    border: 1px solid #00aa23 !important;
    text-decoration: none;
    font-size: 17px !important;
}

.crystalTitle {
    color: #fe0d7d;
}

.crystalTitle:hover {
    color: #fe0d7d !important;
    border: 1px solid #fe0d7d !important;
    text-decoration: none;
    font-size: 17px !important;
}


form {
    font-family: 'Raleway', sans-serif;

}

.btn {
    color: whitesmoke !important;
    background-color: #88a2ad !important;

}

.bg-dkbluegray {
    background-color: #657780;
}

::placeholder {
    color: lightgrey !important;
}

.fixed-top {
    position: fixed;
    margin: auto;
    width: 100%;
    right: 0;
    top: 0;
    left: 0;
}

.fixed-bottom {
    position: fixed;
    margin: auto;
    width: 100%;
    right: 0;
    bottom: 0;
    left: 0;
}

@media (min-width:0px)and (max-width: 767px) {

    body {
        max-height: calc (100vh-56px);
        min-width: 330px;
    }

    .fixed-bottom {
        position: static !important;
        margin: 0;
        bottom: 0;
        top: 0;
        width: 100%;
        z-index: -1;

    }

    .fixed-top {
        position: static !important;
        margin: 0;
        top: 0;
        width: 100%;
        z-index: -2;
    }

}