h1,
h4 {
    font-family: 'Open Sans Condensed', sans-serif;
}

h1 {
    font-size: 2.5rem !important;
    color: white;
    font-weight: bolder !important;
}

h4 {
    color: #657780;
    font-size: 1.75rem !important;
}

ul {
    font-family: 'Raleway', sans-serif;
    display: inline-block;
}

.bg-ltbluegray {
    background-color: #88a2ad;
}


body {
    padding-top: 60px;
    height: calc (100vh - 56px) !important;
}

#bio-image {
    border-radius: 10%;
    transition: transform .8s ease-in-out;
    display: inline;
}

#bio-image:hover {
    transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
}

p {
    font-family: 'Raleway', sans-serif display: inline-block;
}

.card-title {
    color: #657780;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
}

.card-text {
    color: grey;
}

form {
    font-family: 'Raleway', sans-serif;

}

.btn {
    color: whitesmoke !important;
    background-color: #88a2ad !important;

}

.bg-dkbluegray {
    background-color: #657780;
}

::placeholder {
    color: lightgrey !important;
}


.fixed-bottom {
    position: fixed;
    margin: auto;
    width: 100%;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1030;
}

.fixed-top {
    position: fixed;
    margin: auto;
    width: 100%;
    right: 0;
    top: 0;
    left: 0;
    z-index: 1050;
}

@media (min-width: 300px) {

    body {
        padding-top: 100px;
    }