
/* MY NAME & PAGE TITLES */
h1,
h4 {
    font-family: 'Open Sans Condensed', sans-serif;
}

/* MY NAME */
h1 {
    font-size: 2.5rem !important;
    color: white;
    font-weight: bolder !important;
}

/* PAGE TITLES */
h4 {
    color: #657780;
    font-size: 1.75rem !important;
}

/* HEADER & NAV BAR LINKS */
ul {
    font-family: 'Raleway', sans-serif;
    display: inline-block;
}

.bg-ltbluegray {
    background-color: #a2b5c6;
}

.fixed-top {
    position: fixed;
    margin: auto;
    width: 100%;
    right: 0;
    top: 0;
    left: 0;
    /* background: transparent; */
}

.hover:hover {
    font-size: 1.05rem;
}

/* Splash Page */

.splashBody {
    padding: 0 !important;
}

.splashNav {
    padding: 0 !important;
}

.splashName {
    color: #7D8E9E;
}

.splashText {
    color: #7D8E9E !important;
}

.splashText:hover {
    text-decoration: underline !important;
    font-size: 1.05rem;
}

.splashImage {
    width: 100vw;
    height: 100vh !important;
    margin-top: -56px !important;
}

/* ABOUT/INDEX PAGE */
body {
    padding-top: 60px;
    height: calc (100vh - 56px) !important;
    min-width: 330px !important;
    overflow: scroll;
    padding-bottom: 60px !important;
}

#bio-image {
    border-radius: 10%;
    transition: transform .8s ease-in-out;
    display: inline;
}

#bio-image:hover {
    transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
}

p {
    font-family: 'Raleway', sans-serif;
    display: inline-block;
}

/* PORTFOLIO PAGE */
.card-title {
    color: #88a2ad;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    padding: 5px;
}

.row .card-title:hover {
    border: 1px solid #88a2ad;
    text-decoration: none;
    color: #88a2ad;
    font-size: 17px !important;
}

.card-text {
    color: grey;
    padding-left: 5px;
}

.card-img-top {
    padding-top: 20px;
}

.card-body {
    padding: 10px 20px 20px 20px !important;
}

.booksTitle {
    color: #ff903f;
}

.booksTitle:hover {
    color: #ff903f !important;
    border: 1px solid #ff903f !important;
    text-decoration: none;
    font-size: 17px !important;
}

.scraperTitle {
    color: #78B244;
}

.scraperTitle:hover {
    color: #78B244 !important;
    border: 1px solid #78B244 !important;
    text-decoration: none;
    font-size: 17px !important;
}

.friendTitle {
    color: #FFC10B;
}

.friendTitle:hover {
    color: #FFC10B !important;
    border: 1px solid #FFC10B !important;
    text-decoration: none;
    font-size: 17px !important;
}

.taskTitle {
    color: #52abd5;
}

.taskTitle:hover {
    color: #52abd5 !important;
    border: 1px solid #52abd5 !important;
    text-decoration: none;
    font-size: 17px !important;
}

.treeTitle {
    color: #00aa23;
}

.treeTitle:hover {
    color: #00aa23 !important;
    border: 1px solid #00aa23 !important;
    text-decoration: none;
    font-size: 17px !important;
}

.crystalTitle {
    color: #FFC10B;
}

.crystalTitle:hover {
    color: #FFC10B !important;
    border: 1px solid #FFC10B !important;
    text-decoration: none;
    font-size: 17px !important;
}

.travelTitle {
    color: #0eabd6;
}

.travelTitle:hover {
    color: #0eabd6 !important;
    border: 1px solid #0eabd6 !important;
    text-decoration: none;
    font-size: 17px !important;
}

.gifTitle {
    color: #ff7007;
}

.gifTitle:hover {
    color: #ff7007 !important;
    border: 1px solid #ff7007 !important;
    text-decoration: none;
    font-size: 17px !important;
}

.houseTitle {
    color: #9B6397;
}

.houseTitle:hover {
    color: #9B6397 !important;
    border: 1px solid #9B6397 !important;
    text-decoration: none;
    font-size: 17px !important;
}

.cli {
    color: #88a2ad;
}

.cliTitle {
    color: #0eabd6;
}

.cliTitle:hover{
    color: #0eabd6 !important;
    text-decoration: none !important;
    border: none !important;
    font-size: .4rem !important;
}

/* CLOCK FOR TRAIN SCHEDULER / PORTFOLIO PAGE */
.clock {
    color: #657780;
    font-family: 'Open Sans Condensed', sans-serif;
    width: 30%;
    text-align: center;
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    padding-top: 3rem;
    padding-bottom: 1.5rem;
    font-size: 4.5rem;
}

.clock div::after {
    display: block;
    font-size: .2em;
    text-align: center;
    text-transform: uppercase;
}

#hours::after {
    content: "hours";
}

#minutes::after {
    content: "minutes";
}

#seconds::after {
    content: "seconds";
}

.clock .hide {
    position: absolute;
    transform-origin: 50% 0;
    animation: hide .5s ease-in-out forwards;
}

@keyframes hide {
    0% {
        transform: scale(1,1) translateY(0);
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

.clock .show {
    transform-origin: 50% 0;
}

@keyframes show {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* CONTACT PAGE */

form {
    font-family: 'Raleway', sans-serif;
}

.textArea {
    border-color: lightgrey;
}

::placeholder {
    color: lightgrey !important;
}

.button {
    color: whitesmoke !important;
    background-color: #88a2ad !important;
    border: none !important;
}
.button:hover{
    font-size: 1.05rem;
}

.button:active {
    font-size: 1rem;
}

.thankyou_message {
    height: 50vh;
}

.thanks {
    font-size: 1.75rem;
    color: #88A2AD;
}


/* FOOTER */
.bg-dkbluegray {
    background-color: #7D8E9E;
}

.fixed-bottom {
    position: fixed;
    margin: auto;
    width: 100%;
    right: 0;
    bottom: 0;
    left: 0;
}

/* MEDIA QUERY */
@media (min-width:0px)and (max-width: 767px) {

    body {
        max-height: calc (100vh-56px);
        min-width: 330px;
    }

    .fixed-bottom {
        position: static !important;
        margin: 0;
        bottom: 0;
        top: 0;
        width: 100%;
        z-index: -1;

    }

    .fixed-top {
        position: static !important;
        margin: 0;
        top: 0;
        width: 100%;
        z-index: -2;
    }
}

/* Contact Page Earth Graphic - media query for screens 980 and less for desktops */
@media (min-width: 1200px)  {
    .earth {
        width: 60%;
        height: relative;
      }
}

/* Contact Page Earth Graphic - media query for screens 768 and less for ipads */
@media (min-width: 769px) and (max-width: 991px) {
    .emailImg {
        display: none;
    }
}

/* Contact Page Earth Graphic - media query for screens 768 and less for ipads */
@media (min-width: 465px) and (max-width: 768px) {
    .emailImg {
        display: none;
    }

      .content {
        width: 90%;
        padding-left: 10%;
    }

    .form-elements textarea {
        width: 100%;
    }
}

/* Contact Page Earth Graphic - media query for screens 640px and less for iphones */
@media (max-width: 464px)  {
    .emailImg {
        display: none;
    }

    .content {
        width: 100%;
        padding-left: 3%;
    }

    .form-elements textarea {
        width: 100%;
    }
  }
